
<!doctype html>
{%load static%}
{% load crispy_forms_tags %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="{%static 'css/profile.css'%}">
<body>
  <div class="main-content">
    {% if messages %}
    {%for message in messages%}
        <div class="alert alert-{{message.tags}}">
          {{message}}
        </div>

    {%endfor%}
    {% endif %}
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->

        <!-- Form -->

        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">

              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
              <div class=" dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome!</h6>
              </div>
              <a href="../examples/profile.html" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>My profile</span>
              </a>
              <a href="../examples/profile.html" class="dropdown-item">
                <i class="ni ni-settings-gear-65"></i>
                <span>Settings</span>
              </a>
              <a href="../examples/profile.html" class="dropdown-item">
                <i class="ni ni-calendar-grid-58"></i>
                <span>Activity</span>
              </a>
              <a href="../examples/profile.html" class="dropdown-item">
                <i class="ni ni-support-16"></i>
                <span>Support</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#!" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url({%static 'images/cover.jpg'%}); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello {{user.profile.rank}} {{user.last_name}}</h1>
            <p class="text-white mt-0 mb-5">This is your profile page. You can upload pdf files, view them and send an email to your NCO. Also you can fast and easy sent an AER.</p>
            <a href="update_profile/" class="btn btn-info">Edit profile</a>
            <a href="pdf_create/" class="btn btn-info" >Upload File</a>
            <a href="send_aer/" class="btn btn-info">Send an AER</a>
            <a href="/" class="btn btn-info" >Home Page</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="{{ user.profile.image.url }}" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">

            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">

                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{user.username}}<span class="font-weight-light"></span>
                </h3>
                <div class="h5 font-weight-300">

                  <i class="ni location_pin mr-2"></i>{{user.email}}

                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>230th FMSU Customer Service
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>


                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="/acft_create" class="btn btn-sm btn-primary">Update ACFT</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              {% block data %}

                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Download</th>
                        <th>Delete</th>
                        <th>Update</th>
                        <th>Send Email</th>

                      </tr>
                    </thead>
                    <tbody>

                      {% for i in document %}
                        <tr>

                          <td >{{ i.title }}</td>
                          <td>
                            <a href="{{ i.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
                              Download PDF
                            </a>
                          </td>
                          <td>
                            <form method="post" action="{% url 'pdf_deleate' i.pk %}">
                              {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" >Delete</button >
                            </form>

                          <td>
                            <form method="post" action="{% url 'pdf_update' i.pk %}">
                              {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Update</button >
                            </form>

                          <td>
                            <form method="post" action="{% url 'pdf_email' i.pk %}">
                              {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" >Send Email </button >
                            </form>
                      </tr>
                      {% endfor %}

                    </tbody>
                  </table>

                <hr class="my-4">
                {% endblock %}

                <div id="myChart"></div>

                <!-- Description -->

  <footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6 m-auto text-center">

      </div>
    </div>
  </footer>

<script>
var state ={
    'items':[],
    'values':[],
  }

  var dataURL = `/resultsdata`
  $.ajax({
    method:'GET',
    url:dataURL,
    success:function(response){
      console.log('RESPONSE:', response)
      for (var i in response){

        var key = Object.keys(response[i])[0]
        var value = Object.values(response[i])[0]

        state.items.push(key)
        state.values.push(value)
      }

      console.log('STATE:', state)
      buildChart()

    }
  })

  function buildChart(){
      var chartData = {
      "type":"bar",
      "scale-x":{
        "values":state.items
      },
      "series":[
        {
          "values":state.values
        }
      ]
    }


    zingchart.render({
      id: "myChart",
      data: chartData,
    });
  }




</script>

</body>


